<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.fitchfamily.android.wifi_backend"
      android:versionCode="25"
      android:versionName="0.9.9">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application android:theme="@style/AppTheme" android:label="@string/app_name" android:icon="@mipmap/ic_launcher">

        <service
            android:name=".backend.BackendService_"
            android:label="@string/app_name"
            android:permission="android.permission.ACCESS_COARSE_LOCATION">
            <intent-filter>
                <action android:name="org.microg.nlp.LOCATION_BACKEND" />
            </intent-filter>
            <meta-data
                android:name="org.microg.nlp.BACKEND_SETTINGS_ACTIVITY"
                android:value="org.fitchfamily.android.wifi_backend.ui.MainActivity_" />
            <meta-data
                android:name="org.microg.nlp.BACKEND_SUMMARY"
                android:value="@string/summary" />
        </service>

        <activity android:name=".ui.MainActivity_"
                  android:label="@string/app_name"
                  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <service android:name=".sampler.WifiSamplerService_" />

        <activity
            android:name=".ui.data.WifiListActivity_"
            android:label="@string/title_wifi_list"
            android:parentActivityName=".ui.MainActivity_">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.fitchfamily.android.wifi_backend.ui.MainActivity_"/>
        </activity>
        <activity
            android:name=".ui.data.WifiDetailActivity_"
            android:label="@string/title_wifi_detail"
            android:parentActivityName=".ui.data.WifiListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.data.WifiListActivity"/>
        </activity>

        <service android:name=".SpiceService" android:exported="false" />
    </application>
</manifest>
